<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <ActiveMQ>
    <MomApi><!--使用MomApi时必须提供的配置项 -->
      <brokerUri>"activemq:tcp://120.92.201.197:61616"</brokerUri><!--broker的uri-->
      <CurrentClientID>CN</CurrentClientID><!--当前启动客户端的标识-->
      <ClientIDs><!--所有客户端的标识-->
        <ID>CN</ID>
        <ID>EU</ID>
        <ID>US</ID>
      </ClientIDs>
      <ReceiveFrom>
        <topics>
          <topic>
            <name>SendFromEUTopic</name>            
          </topic>
          <topic>
            <name>SendFromUSTopic</name>
          </topic>
        </topics>
        <queues>
          <queue>
            <name>SendToCNQueue</name>
          </queue>
        </queues>        
      </ReceiveFrom>
      <SendTo>
        <topics>
          <topic>
            <name>SendFromCNTopic</name>
          </topic>
        </topics>
        <queues>
          <queue>
            <ClientID>EU</ClientID>
            <name>SendToEUQueue</name>
          </queue>
          <queue>
            <ClientID>US</ClientID>
            <name>SendToUSQueue</name>
          </queue>
        </queues>
      </SendTo>
    </MomApi>
  </ActiveMQ>
</configuration>
